body {
    background: #1b34c0;
    background: -webkit-linear-gradient(0deg, #1b34c0 0%, #e427d8 100%);
    background: linear-gradient(0deg, #1b34c0 0%, #e427d8 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.main-cont{
    border-radius: 20px;
    background: white;
    margin-top: 10em;
}
#xmlTable {
    margin-top: 4em;
    background: white;
    border-radius: 20px;
    padding: 20px;
}

#xmlTable td{
    padding: 20px;
}